.loaderRing {
  position: relative;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-block: 3rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-principal-dark));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}

.loaderRing2 {
  position: relative;
  width: 50px;
  height: 50px;
  margin-block: 3rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-principal-dark));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}