.containerPopUpMain{
    display: none;
    justify-content: center;
    align-items: center;

    color: var(--gris);

    padding-block: 1rem;

    transition: all 0.25s;
}

.activePopUp{
    display: flex;

    transition: all 0.25s;
}

.alertasLogin2 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.alertasLogin {
    border-radius: 0.5rem;
}

.alertasLogin>div {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.alertasLogin button {
    border: 1px solid rgba(255, 0, 0, 0.418);
    color: rgba(255, 0, 0, 0.365);
}

.marginAlert {
    margin-left: 4rem;
}